from __future__ import annotations

from fastapi import FastAPI

{{imports}}

import contextvars
from abc import ABC, abstractmethod
from fastapi import APIRouter
from typing import Any

import logging
from reggie_core import logs

LOG = logs.logger(__file__)

class APIContract(ABC):
    """Abstract base class defining the API contract."""

{% for operation in operations %}
    @abstractmethod
    def {{operation.function_name}}(self, {{operation.snake_case_arguments}}) -> {{operation.return_type}}:
        """{{operation.summary or ''}}"""
        ...
{% endfor %}


class GeneratedRouter:
    """Router generator that binds API routes to a given contract implementation."""

    def __init__(self, contract: APIContract, log_level = None):
        self.contract = contract
        self.log_level = logs.get_level(log_level, logging.DEBUG)[0]
        self.router = APIRouter()


{% for operation in operations %}
{% set sorted_arguments = operation.__class__.merge_arguments_with_union(operation.arguments_list) %}
        @self.router.{{operation.type}}(
            "{{operation.path}}",
            response_model={{operation.response}}
            {% if operation.additional_responses %}
            , responses={
                {% for status_code, models in operation.additional_responses.items() %}
                    "{{ status_code }}": {
                        {% for key, model in models.items() %}
                            "{{ key }}": {{ model }}{% if not loop.last %},{% endif %}
                        {% endfor %}
                    }{% if not loop.last %},{% endif %}
                {% endfor %}
            }
            {% endif %}
            {% if operation.tags %}
            , tags={{operation.tags}}
            {% endif %}
        )
        def _{{ operation.function_name }}({{ operation.snake_case_arguments }}):
            LOG.log(
                self.log_level,
                "api request:%s args=%s",
                "{{ operation.function_name }}",
                { {% for arg in sorted_arguments %}"{{ arg.name }}": {{ arg.name }}{% if not loop.last %}, {% endif %}{% endfor %} }
            )
            return self.contract.{{ operation.function_name }}(
                {{ sorted_arguments | map(attribute="name") | join(", ") }}
            )
{% endfor %}


def create_app(contract: APIContract, info: dict[str, Any] | None = None) -> FastAPI:
    """Creates a FastAPI app with router included."""
    app = FastAPI(**(info or {}))
    router = GeneratedRouter(contract)
    app.include_router(router.router)
    return app